@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #f4f6f8;
  --secondary-bg: #fff;
}

[data-theme="dark"] {
  --main-bg: #121721;
  --secondary-bg: #19202d;
}
